.tw-auth-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f6f6f6;
}

.auth-box {
  background: white;
  padding: 40px;
  max-width: 420px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.auth-title {
  color: #e75480;
  text-align: center;
  margin-bottom: 20px;
}
